body{
    margin:0;
    font-family:Arial, sans-serif;
}

.cover{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:radial-gradient(circle,oklch(42.986% 0.2218 287.143),rgb(4, 231, 46));
    text-align:center;
}
.content h1{
    font-size:120px;
    margin:0;
    letter-spacing:10px;
}   

.content h2{
    font-size:40px;
    margin:10px 0;
}

.content p{
    font-size:18px;
    opacity:0.9;
}

footer{
    position:absolute;
    bottom:20px;
    font-size:14px;
    opacity:0.8;
}
button{
    background-color:#ffea00f4;
padding:20px;
border-radius: 55px;
}
button:hover{
   background-color:black;  
   color:azure;
}