td{
text-align:center;
background-color:black;
color:white;
height:60;
font-size:20px;
}
h1{
font-family: Algerian, Helvetica, sans-serif;
font-size:18px;
text-align:center;
background-color:#737373;
padding:10px;
}
body{
background-image:url("bg.jpg");
  background-size:cover;
}
table{
border-collapse:collapse;
border-width:2.5px;
}
th{
height:50;
font-size:17.5px;
background-color:lightblue;
}
h3{
text-align:center;
font-family:Algerian, Helvetica, sans-serif;
}
button{
border-radius:5px;
background-color:black;
color:white;
padding:10px;
}
button:hover{
background-color:#00bfff;
color:white;
}
tr{
   height:150px;
}

td{
   padding:10px;
}
